<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <!-- <img class= "image" src="https://www.mrcooper.com/blog/wp-content/uploads/5-free-budgeting-apps-to-help-you-save-smarter-1110x400.jpg"  /> -->
<link rel="stylesheet" type="text/css" href="../styles.css">
<link href="https://fonts.googleapis.com/css?family=Arimo&display=swap" rel="stylesheet">
  <title>Spends</title>
</head>
<body>
<div class ="image">
<h1> SPENDS </h1>
<h2> SPENDING TRACKER </h2>
 </div>


  <nav>
    <ul class="center">
      <li class="center a"><a href="/transactions/new">New Transaction</a></li>
      <li class="center"><a href="/transactions">All Transactions</a></li>
      <li class="center"><a href="/merchants/new">New Merchant</a></li>
      <li class="center"><a href="/merchants">All Merchants</a></li>
      <li class="center"><a href="/types/new">New Type</a></li>
    </ul>
  </nav>

    <%= yield %>

</body>
</html>
